vd-selfie::part(instructions_slide_box_title) {
    color: rgba(18, 18, 18, 1);
    width: 220px;
    text-align: center;
}

vd-selfie::part(instructions_slide_box_subtitle) {
    color: rgba(18, 18, 18, 1);
    text-align: center;
}

vd-selfie::part(capture_glowing_outline_container) {
    border-radius: 100%;
}

vd-selfie::part(capture_display_message) {
    top: 105px;
    background-color: rgba(4, 50, 99, 1);
    border-radius: 0px;
    width: 265px;
    height: 72px;
}

vd-selfie::part(capture_display_message_text) {
    color: white;
}

vd-selfie::part(capture_head_pose_rectangle) {
    background-color: rgba(7, 33, 70, 1);
}

vd-selfie::part(capture_glowing_outline_top_div) {
    background-color: rgba(4, 50, 99, 1);
    border-radius: 0px;
    margin-top: 103px;
    margin-left: 67px;
    width: 265px;
    height: 72px;
}

vd-selfie::part(capture_glowing_outline_header_top_message) {
    display: none;
}

vd-selfie::part(capture_glowing_outline_top_message) {
    color: white;
    margin-top: 16px;
}
