@font-face {
  font-family: "Benton Sans BBVA";
  src: url("https://assets.bbvaexperience.com/fonts/BentonSansBBVA-Medium-Lite.woff2") format("woff2"), url("https://assets.bbvaexperience.com/fonts/BentonSansBBVA-Medium-Lite.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

vd-selfie::part(instructions_close_button_img) {
    width: 32px;
    height: 32px;
}

vd-selfie::part(capture_close_button_img) {
    filter: none;
    width: 32px;
    height: 32px;
}

vd-selfie::part(review_image_close_button_img) {
    width: 32px;
    height: 32px;
}

vd-selfie::part(review_image_close_button_button) {
    width: 150px;
    height: 150px;
    background-color: red;
}

vd-selfie::part(instructions_slide_button) {
  
}

vd-selfie::part(instructions_slide_box_title) {
    color: rgba(18, 18, 18, 1);
    width: 357px;
    text-align: center;
}

vd-selfie::part(instructions_slide_box_subtitle) {
    color: rgba(18, 18, 18, 1);
    text-align: center;
}

vd-selfie::part(capture_glowing_outline_container) {
  border-radius: 100%;
}

vd-selfie::part(capture_glowing_outline_container_detection) {
  border-radius: 100%;
}

vd-selfie::part(capture_glowing_outline_container_faceNotCentered) {
    border-radius: 100%;
}

vd-selfie::part(glowing_outline_container_faceCentered_faceCloseOrFar) {
  border-radius: 100%;
}

vd-selfie::part(capture_display_message) {
    top: 105px;
    background-color: rgba(4, 50, 99, 1);
    border-radius: 0px;
    width: 265px;
    height: 72px;
}

vd-selfie::part(capture_display_message_text) {
    color: white;
}

vd-selfie::part(capture_glowing_outline_top_div) {
    background-color: rgba(4, 50, 99, 1);
    border-radius: 0px;
    margin: 103px calc((var(--main-sdk-width) - 274px)*0.5);
    width: 274px;
    height: 74px;
    padding: 2px;
}

vd-selfie::part(capture_glowing_outline_header_top_message) {
    display: none;
}

vd-selfie::part(capture_glowing_outline_top_message) {
    color: white;
    margin-top: 16px;
}

vd-selfie::part(capture_arrow_bottom_img) {
    transform: rotate(0.5turn);
    width: 70px;
}

vd-selfie::part(capture_arrow_left_img) {
    transform: rotate(0.5turn);
    width: 60px;
}

vd-selfie::part(capture_arrow_top_img) {
    width: 70px;
}

vd-selfie::part(capture_arrow_right_img) {
    width: 60px;
}

vd-selfie::part(review_image_message_text) {
    background-color: rgba(4, 50, 99, 1);
    color: white;
    height: 70px;
    width: 270px;
    margin: 0px auto 50px auto;
    font-weight: 500;
}

vd-selfie::part(review_image_img_container) {
    border-color: rgba(20, 100, 165, 1);
}

vd-selfie::part(review_image_message_buttons) {
    display:flex;
    flex-flow: column-reverse;
}

vd-selfie::part(review_image_message_buttons_repeat) {
    color: rgba(20, 100, 165, 1);
}

vd-selfie::part(review_image_message_buttons_continue) {
    color: white;
    background-color: rgba(20, 100, 165, 1);
    width: 288px;
}

vd-selfie::part(capture_success_tick_img) {
  height: 100px;
  width: 100px;
}

vd-video::part(capture_glowing_outline_container_faceCentered) {
    border-radius: 100%;
}
